/*0*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
body{
  font-family: Arial, Helvetica, sans-serif;
}
.content{
  padding: 50px 53px;
}
.text1{
  margin: 0 0 17px 0px;
  width: 611px;
  line-height: 25px;
}
.contentlink{
  margin: 17px 0;
}
.link{
  display: block;
  color: black;
}
.contentsizebox{
  line-height: 25px;
  margin: 17px 0;
  width: 1145px;
  height: 86px;
}
.inline-block{
  display: inline-block;
  margin: 17px 20px 17px 0
}
.pinlineblock{
  display: inline-block;
  margin: 17px 0 17px 20px;
}
.contentspanlink{
  margin: 17px 0;
}
.spanpading{
  display: inline-block;
  padding: 0 20px;
  margin: 17px 21px 17px 0;
}
.linkinlineblock{
  color: black;
  margin: 17px 0 17px 21px;
  padding: 0 20px 0 0;
}
.spaninlineblock{
  margin: 17px 0;
  line-height: 25px;
  display: inline-block;
  height: 111px;
  padding: 45px 0;
}