/*0*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
/*--------------------*/
body {
  background: #e8e8e8 url("./../img/back.png") 50% 106px/85% auto no-repeat;
}
.container {
  max-width: 841px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: auto;
  padding-top: 168px;
  padding-bottom: 137px;
}
h5 {
  text-transform: uppercase;
  letter-spacing: 2.8px;
  color: #273d46;
  opacity: 0.6;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
h1 {
  max-width: 721px;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #273d46;
  font-weight: 400;
  margin: auto;
  margin-bottom: 77px;
}
.containerfoto {
  width: 100%;
  box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
  background-color: white;
  padding: 10px;
  margin: 0 0 97px 0;
}
.containerfoto img{
  width: 100%;
}

.pcopntainer {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  line-height: 40px;
  font-size: 24px;
  opacity: 0.8;
  padding: 0 35px 0 35px;
  margin: 0 0 64px 0;
}
.pcopntainer p:first-child {
  margin-bottom: 50px;
}
ul {
  padding: 0 35px 0 35px;
  margin: 0 0 34px 0;
  line-height: 36px;
  font-size: 20px;
}
ul li:nth-child(2){
  color: #80b7b3;
  font-style: italic;
}
ul li:nth-child(3){
  font-weight: bold;
}
ul li p{
  opacity: 0.3;
  color: #273d46;
  text-decoration: line-through;
}
ul li{
  padding: 0 0 0 33px;
  background: url('./../img/check_icon.png')0 5px no-repeat;
  opacity: 1;
}
.link{
  display: inline-block;
  margin: 0 0 0 35px;
  width: 199px;
  height: 44px;
  border-radius: 20px;
  background: #80b7b3 url('./../img/Shape_2.png')151px 12px no-repeat;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 0 0 30px;
}