.wrapper {
    min-height: 100%;
    overflow: hidden;/* властивість, яка встановлює, як браузер повинен поводитися з контентом, який виходить за межі блоку. Коли ця властивість встановлена на елементі, який має фіксовану висоту та ширину, будь-який контент, що виходить за межі цього елементу, буде приховано. Наприклад, якщо ви маєте елемент div з фіксованою висотою та шириною та текстом, який виходить за межі цього елементу, встановлення overflow: hidden зробить текст, що виходить за межі, невидимим. */
}
._container{
    max-width: 1050px; /* ширина КОНТЕНТА */
    margin: 0px auto;/* У цьому випадку 0px встановлює відступи у верхній та нижній частині елемента в 0px, а auto встановлює автоматичний розмір відступів в лівій та правій частині, тобто елемент буде розміщений по центру відносно батьківського елемента. Це корисно для центрування блокових елементів з фіксованою шириною, таких як контейнери з контентом, зображення, форми тощо. */
}
